body{
    margin: 0;
}
.flex_container{
    background-color:rgba(226, 223, 223, 0.692);
}

.introduction{
    height: 450px;
}
.intro_column1{
    width: 40%;
}
.intro_column2{
    padding-left: 50px;
    padding-right: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(66, 61, 61);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 25px;
  }
  
  li a:hover{
    background-color: #111;
  }
.introduction{
    display: flex;
    padding: 10px;
}

/* flex_services */
.flex_services{
    display: flex;
    background-color:white ;
    margin: 15px;
}
.flex_services > div {
    background-color:rgba(226, 223, 223, 0.692);
    margin: 20px;
    width: 50%;
    /* height: 250px; */
    color: rgb(65, 55, 55);
    padding: 5px;
}

.Our_projects{
    display: flex;
    background-color:white ;
    margin: 15px;
}

.Our_projects > div {
    background-color:rgba(226, 223, 223, 0.692) ;
    margin: 20px;
    width: 33.3%;
    height: 250px;
    color: rgb(24, 23, 23);
    padding: 5px;
}
h2{
    text-align: center;
}
.twitter_feed{
    background-color:white ;
    margin: 15px;
    background-color:rgba(226, 223, 223, 0.692) ;
    margin: 32px;
    color: rgb(22, 21, 21);
    padding: 5px;
}

.button_flex {
    display: flex;
    justify-content: center;
}
button{
    margin: 10px;
    background-color:rgba(41, 36, 36, 0.692) ;
    height: 50px;
    width: 150px;
    border-radius: 5px;
   
}
button a {
    text-decoration: none;
    color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.flex_company1{
    display: flex;
}
