body{
    margin: 0;
}
.flex_container{
    background-color:rgb(124, 118, 118);
}

.introduction{
    height: 400px;
}
.intro_column1{
    width: 40%;
    color: white;
}
.intro_column2{
    padding-left: 50px;
    padding-right: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(124, 118, 118);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #111;
  }
.introduction{
    display: flex;
    padding: 10px;
}

/* flex_services */
.flex_services{
    display: flex;
    background-color:white ;
    margin: 15px;
}
.flex_services > div {
    background-color:rgb(124, 118, 118);
    margin: 20px;
    width: 33.3%;
    height: 250px;
    color: white;
    padding: 5px;
}

.Our_projects{
    display: flex;
    background-color:white ;
    margin: 15px;
}

.Our_projects > div {
    background-color:rgb(124, 118, 118) ;
    margin: 20px;
    width: 33.3%;
    height: 250px;
    color: white;
    padding: 5px;
}
h2{
    text-align: center;
}
.twitter_feed{
    background-color:white ;
    margin: 15px;
    background-color:rgb(124, 118, 118) ;
    margin: 32px;
    color: white;
    padding: 5px;
}
