.main_footer {
    background-color: #333;
    height: 340px;
}


.footer {
    display: flex;
    color: white;
    padding-bottom: 5px;
}
.footer_nav{
    width: 25%;
    margin-top: 15px;
    margin-left: 15px;
}

.footer_socials{
    display: flex;
    margin-top: 5px;
}
.footer .footer_nav a  {
    text-decoration: none;
}
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.footer .footer_nav p img {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.footer .footer_nav p a {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
hr {
    height: 1px;
    margin: 0;
}