.footer {
    display: flex;
    background-color:#333;
    color: white;
    padding-bottom: 5px;
}
.footer_nav{
    width: 25%;
    margin-top: 15px;
    margin-left: 15px;
}

.footer_socials{
    display: flex;
    margin-top: 5px;
}
.footer .footer_nav a  {
    text-decoration: none;
}
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}
    