
.navbar{
    margin: 0;
    margin-top: -35px;
}
.description{
    display: flex;
    margin: 10px;
}

h1{
    margin: 30px;
    text-align: center;
    color: #C75B12;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.prop_details {
    display: flex;
}

.agents{
    margin: 5px ;
    width: 20%;
    padding: 5px;
    display: flex;
}
.agents1 {
    width: 30%;
    padding: 5px;
}

.agents p {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.prop_details .agents img {
    width: 100px;
    height: 100px;
    margin-top: 5px;
   margin-right: 0;
   border-radius: 50px;
}

.prop_images{
    margin: 5px; 
    padding: 5px; 
    width: 60%;
}

.prop1 {
   /* width: 100%; */
   flex-wrap: wrap;
   display: flex;
 }

.prop1 div {
    /* display: flex; */
    margin: 5px;
    padding: 5px;
   /* display: flex; */  
}

.prop1 div img {
    padding: 5px;
    width: 285px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  } 

/* .prop_images div:hover {
   background: rgb(200, 200, 202);
} */

.prop2 p {
   
        font-size: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
}

.enquiry_forms{
    margin: 5px ;
    width: 20%;
    padding: 5px;
}

.description{
   margin-top: 20px;

}

.description1{
    width: 65%;
    margin: 10px;
    background-color: #dad6d2;
    padding: 5px;
}

.description1 p {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: justify;
}

.description2{
    width: 35%;
    margin: 10px;
    background-color: #dad6d2;
    padding: 5px;
}
.description2 a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

.description2 p {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: justify;
}
.description2 button {
    margin: 5px;
    height: 30px;
    width: 98%;
}
 




