.breadcrumbs_section{
    background-image: url(../images/aboutus/digitalisation_final.jpg);
    height: 500px;
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
}
.breadcrumbs{
    padding-top: 150px;
   
   
}

.breadcrumbs a {
    padding-left: 50%;
    text-decoration: none;
}

.properties{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}
.properties > div {
    width: 32%;
    margin: 10px;
    text-align: center;
    background-color: white;
}