.breadcrumbs_section{
    background-image: url(../images/aboutus/digitalisation_final.jpg);
    height: 400px;
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
}
.breadcrumbs{
    padding-top: 200px;
}

.breadcrumbs a {
    padding-left: 44%;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #C75B12;
}

.properties{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
}

.properties > div {
    width: 31%;
    margin: 10px;
    text-align: center;
    background-color: white;
    padding: 8px;
}
.properties > div img {
    height: 350px;
    width: 500px;
}
.properties > div p {
    font-size: 25px;
    font-weight: bold;
}

h1{
    margin: 30px;
    text-align: center;
    color: #C75B12;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.features{
    display: flex;
  
}
.features > div {
    margin: 10px;
    width: 31%;
    border: 2px solid;
}
.features > div img {
    width: 30px;
    height: 30px;
}
